nav.navbar {
    background-color: rgb(232, 229, 224);
}
/* body{
    background-color: aqua;
} */
.form-control{
    margin-bottom: 25px;
}
.imagebacckground{
    /* background-image: url("img_girl.jpg"); */

    
    height: 100%;
    width: 300%;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logindash{
    background-color: rgb(189, 202, 202);
}